/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }

html {
  background-color: black;
}

h1, h2, ol {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
  }

  div {
    float: left;
  }
  
  button {
    margin-top: 10px;
  }
  
  section {
    float: right;
  }
  