/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }

html {
  background-color: black;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
  }


h1 {
    font-size: larger;
  }
  
  
/* #game {
    border: chartreuse solid 3px;
    
} */